<%- include('../../partials/head.ejs')%>
<div class="alert alert-danger" role="alert" style="text-align: center;">
    Sorry! Retrieve Your Password Page is Down.We are working on it and we won't be long.
   </div>
    <div class="container my-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br>
                <div class="card card-body" style=" border: 1px solid black; "  >
    <h5>Retrieve Your Password</h5>
    <form action="/auth/forgotpassword" method="POST">
                    <form>
                        <br>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                            <input type="email" class="form-control form-control <%= error.email ? "is-invalid ": '' %>" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="abc123@gmail.com" >
                                <div class="invalid-feedback">
                                    <%=error.email && error.email %>
                                   </div>
                        </div>
                       
                        <button type="submit" class="btn btn-primary" disabled>Send Code</button>
                        
                        </form>
                </div>
            </div>

        </div>
    </div>
    <%- include('../../partials/footer.ejs')%>

        </body>

        </html>