<%- include('../../partials/head.ejs')%>
  <div class="container my-container">
   <img class="rounded mx-auto d-block" src="/images/404.gif" alt="404 PAGE NOT FOUND" width="400" height="300">
   <h1 class="font-weight-bold text-center">⚠️ PAGE NOT FOUND ⚠️</h1>
<h6 class="font-weight-bold text-center">Sorry! The Page you are looking for doesn't exist.</h6>

  </div>
  <%- include('../../partials/footer.ejs')%>

    </body>

    </html>