<%- include('../../partials/head.ejs')%>
<br>
  <div class="container my-container">
    <img class="rounded mx-auto d-block" src="/images/500.gif" alt="500 INTERNAL SERVER ERROR" width="400" height="300">
<h1 class="font-weight-bold text-center">⚠️ INTERNAL SERVER ERROR ⚠️</h1>
<h6 class="font-weight-bold text-center">We are working towards creating something better.We won't be long !</h6>
  </div>
  <%- include('../../partials/footer.ejs')%>

    </body>

    </html>