<div id="sidebar" class="my-5" >
    <ul class="list-group" >
      
        <li class="list-group-item" style="border:1px solid black; text-decoration: none;">
            <a style="text-decoration: none;color:black;"href="/posts/create">Create A New Post</a>
        </li>
        <li class="list-group-item" style="border:1px solid black; text-decoration: none;">
            <a style="text-decoration: none;color:black;"href="/posts">My Posts</a>
        </li>
        <li class="list-group-item" style="border:1px solid black; text-decoration: none;">
            <a style="text-decoration: none;color:black;"href="/dashboard/bookmarks">My Bookmarks</a>
        </li>
       
      
        <li class="list-group-item" style="border:1px solid black; text-decoration: none;">
            <a style="text-decoration: none;color:black;"href="/auth/change-password">Change Password</a>
        </li>
        <li class="list-group-item" style="border:1px solid black; text-decoration: none;">
            <a style="text-decoration: none;color:black;"href="/auth/logout">Logout</a>
        </li>
    </ul>
</div>